<body class="profile-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/libs/bootstrap/img/city-profile.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content row">
            <div class="card col-md-6" *ngFor="let l of libro">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h4 class="card-title">DATOS DEL LIBRO</h4>
                    </div>
                </div>
                <div class="container" *ngFor="let l of libro">
                    <div class="modal-body">
                        <fieldset>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Titulo</th>
                                        <td>{{l.titulo}}</td>
                                    </tr>
                                    <tr>
                                        <th>Titulo Secundario</th>
                                        <td>{{l.tituloSecundario}}</td>
                                    </tr>
                                    <tr>
                                        <th>Clasificación</th>
                                        <td>{{l.clasificacion}}</td>
                                    </tr>
                                    <tr>
                                        <th>Año</th>
                                        <td>{{l.anio}}</td>
                                    </tr>
                                    <tr>
                                        <th>Edición</th>
                                        <td>{{l.edicion}}</td>
                                    </tr>
                                    <tr>
                                        <th>Resumen</th>
                                        <td>{{l.resumen}}</td>
                                    </tr>
                                    <tr>
                                        <th>Capitulos</th>
                                        <td>{{l.capitulos}}</td>
                                    </tr>
                                    <tr>
                                        <th>ISBN</th>
                                        <td>{{l.isbn}}</td>
                                    </tr>
                                    <tr>
                                        <th>Extension</th>
                                        <td>{{l.extension}}</td>
                                    </tr>
                                    <tr>
                                        <th>Observaciones</th>
                                        <td>{{l.observaciones}}</td>
                                    </tr>
                                    <tr>
                                        <th>Dimensiones</th>
                                        <td>{{l.dimensiones}}</td>
                                    </tr>
                                    <tr>
                                        <th>Acompañamiento</th>
                                        <td>{{l.acompanamiento}}</td>
                                    </tr>
                                    <tr>
                                        <th>Palabras Claves</th>
                                        <td>{{l.palabrasClaves}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tomo</th>
                                        <td>{{l.tomo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="card col-md-6">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h4 class="card-title">ITEMS</h4>
                    </div>
                </div>
                <div class="container">
                    <br>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="success">
                                <th>N° COPIA</th>
                                <th>N° INGRESO</th>
                                <th>COD. BARRA</th>
                                <th>DISP.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items">
                                <td>{{item.numeroCopia}}</td>
                                <td>{{item.numeroIngreso}}</td>
                                <td>{{item.codigoBarra}}</td>
                                <td>{{item.disponibilidad}}</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Ver Item" class="btn btn-info btn-simple btn-xs" style='width:50px; height:50px' data-toggle="modal" data-target="#viewModal" (click)="modalBoton(item)">
                                      <i class="material-icons">bookmark</i>
                                  </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " id="viewModal" tabindex="-1" role=" ">
        <div class="modal-dialog modal-login" role="document">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <div class="card-header card-header-primary text-center ">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                              <i class="material-icons">clear</i>
                          </button>
                            <h4 class="card-title">DATOS DEL ITEM</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Numero de Ingreso</th>
                                        <td>{{itemBoton.numeroIngreso}}</td>
                                    </tr>
                                    <tr>
                                        <th>Codigo de barra</th>
                                        <td>{{itemBoton.codigoBarra}}</td>
                                    </tr>
                                    <tr>
                                        <th>Número de copia</th>
                                        <td>{{itemBoton.numeroCopia}}</td>
                                    </tr>
                                    <tr>
                                        <th>Volumen</th>
                                        <td>{{itemBoton.volumen}}</td>
                                    </tr>
                                    <tr>
                                        <th>Fuente Adquisición</th>
                                        <td>{{itemBoton.fuenteAdquisicion}}</td>
                                    </tr>
                                    <tr>
                                        <th>Modo Adquisición</th>
                                        <td>{{itemBoton.modoAdquisicion}}</td>
                                    </tr>
                                    <tr>
                                        <th>Precio Adquisición</th>
                                        <td>{{itemBoton.precioAdquisicion}}</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha Adquisición</th>
                                        <td>{{itemBoton.fechaAdquisicion}}</td>
                                    </tr>
                                    <tr>
                                        <th>Disponibilidad</th>
                                        <td>{{itemBoton.disponibilidad}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tipo Impresion</th>
                                        <td>{{itemBoton.tipoImpresion}}</td>
                                    </tr>
                                    <tr>
                                        <th>Lugar Publicación</th>
                                        <td>{{itemBoton.lugarPublicacion}}</td>
                                    </tr>
                                    <tr>
                                        <th>Stand</th>
                                        <td>{{itemBoton.standId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <p>Desea pedir el libro para:</p>
                        <button type="button" class="btn btn-danger" (click)="guardar(itemBoton.itemId,1)" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal">
                          Casa <i class="material-icons">home</i>
                      </button>
                        <button type="submit" class="btn btn-success" (click)="guardar(itemBoton.itemId,0)" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal">
                          Sala <i class="material-icons">chrome_reader_mode</i>
                      </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">PETICION DE LIBRO</h5>
                </div>
                <div class="modal-body">
                    SU PEDIDO SE HA REALIZADO CON ÉXITO!! ESPERE SU APROBACIÓN.
                </div>
                <div class="modal-footer">
                    <button [routerLink]="['/pedidos']" type="button" data-dismiss="modal" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</body>