<body class="profile-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/libs/bootstrap/img/city-profile.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="https://res.cloudinary.com/tempos/image/upload/v1561573722/fotoUsuario.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="title">{{u.apellidos}}, {{u.nombres}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend>Datos del Alumno</legend>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Nombres</th>
                                    <td>{{u.nombres}}</td>
                                </tr>
                                <tr>
                                    <th>Apellidos</th>
                                    <td>{{u.apellidos}}</td>
                                </tr>
                                <tr>
                                    <th>DNI</th>
                                    <td>{{u.dni}}</td>
                                </tr>
                                <tr>
                                    <th>Codigo</th>
                                    <td>{{u.codigo}}</td>
                                </tr>
                                <tr>
                                    <th>Edad</th>
                                    <td>{{u.edad}}</td>
                                </tr>
                                <tr>
                                    <th>Sexo</th>
                                    <td>{{u.dni}}</td>
                                </tr>
                                <tr>
                                    <th>Estado</th>
                                    <td>{{u.estado}}</td>
                                </tr>
                                <tr>
                                    <th>Correo Institucional</th>
                                    <td>{{u.correoInstitucional}}</td>
                                </tr>
                                <tr>
                                    <th>Correo Personal</th>
                                    <td>{{u.correoPersonal}}</td>
                                </tr>
                                <tr>
                                    <th>Escuela</th>
                                    <td>{{u.escuelaId}}</td>
                                </tr>
                                <tr>
                                    <th>Telefono</th>
                                    <td>{{u.telefonoCasa}}</td>
                                </tr>
                                <tr>
                                    <th>Celular</th>
                                    <td>{{u.telefonoMovil}}</td>
                                </tr>
                                <tr>
                                    <th>Dirección</th>
                                    <td>{{u.direccion}}</td>
                                </tr>
                                <tr>
                                    <th>Contraseña</th>
                                    <td>{{u.contrasenia}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</body>