
<body class="profile-page sidebar-collapse">

  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/libs/bootstrap/img/book.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="card">
          <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
              <h4 class="card-title">AGREGAR ALUMNOS</h4>
            </div>
          </div>
          <div class="card-body">
              <p>Llenar el siguiente formulario:</p>
          </div>
            <div class="container">
              <form class="form-horizontal">
                <div class="form-row">
                    <div class=" form-group col-md-6">
                      <label for="name"><b>Nombres</b></label>
                      <input type="text" class="form-control"  id ="name"placeholder="Nombres...">
                    </div>
                    <div class=" form-group col-md-6">
                      <label for="name" ><b>Apellidos</b></label>
                      <input type="text" class="form-control" id="name" placeholder="Apellidos...">
                    </div>
                </div>
                <br>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="inputEdad">Edad</label>
                    <input type="number" class="form-control" id="inputEdad">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputSex">Sexo</label>
                    <select id="inputSex" class="form-control">
                      <option selected>Opcion...</option>
                      <option value="F">F</option>
                      <option value="M">M</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4 ml-auto">
                    <label for="inputCod">Codigo</label>
                    <input type="text" class="form-control" id="inputCod">
                  </div>
                </div>
                <br>
                <div class="form-row">
                 <div class="form-group col-md-6">
                   <label for="inputEmail1">Correo Institucional</label>
                   <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                 </div>
                 <div class="form-group col-md-6">
                   <label for="inputEmail2">Correo Personal</label>
                   <input type="email" class="form-control" id="inputEmail2" placeholder="Email">
                 </div>
               </div>
               <br>
               <div class="form-row">
                 <div class="form-group col-md-2">
                   <label for="inputEid">Escuela id</label>
                   <input type="text" class="form-control" id="inputEid">
                 </div>
                 <div class="form-group col-md-5">
                   <label for="inputTel">Telefono</label>
                   <input type="text" class="form-control" id="inputTel">
                 </div>
                 <div class="form-group col-md-5 ml-auto">
                   <label for="inputCel">Celular</label>
                   <input type="text" class="form-control" id="inputCel">
                 </div>
               </div>

                <div class="form-group">
                  <label for="address">Dirección</label>
                  <input type="address" class="form-control" id="address" placeholder="Direccion...">
                </div>
                <div class="container col-md-12" routerLinkActive ="active">
                  <button type="button" class="btn btn-danger"  [routerLink]="['users']" >
                    Cancelar
                  </button>
                  <button type="button" name="button" class="btn btn-success" >
                    Guardar Cambios
                  </button>
                </div>
              </form>
              <br>
            </div>
      </div>
    </div>
  </div>

</body>
