
<body class="profile-page sidebar-collapse">

  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/libs/bootstrap/img/book.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="card">
          <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
              <h4 class="card-title">AGREGAR ALUMNOS</h4>
            </div>
          </div>
          <div class="card-body">
              <p>Llenar el siguiente formulario:</p>
          </div>
            <div class="container">
              <form (ngSubmit)="guardar()" #forma="ngForm" class="form-horizontal">
                <div class="form-row">
                    <div class=" form-group col-md-6">
                      <label for="name"><b>Nombres</b></label>
                      <input [(ngModel)]="user.nombres"
                        type="text"
                        class="form-control"
                        id ="name"
                        name="nombres"
                        required
                        placeholder="Nombres...">
                    </div>
                    <div class=" form-group col-md-6">
                      <label for="name" ><b>Apellidos</b></label>
                      <input [(ngModel)]="user.apellidos"
                      type="text"
                      class="form-control"
                      name="apellidos"
                      required
                      id="name" placeholder="Apellidos...">
                    </div>
                </div>
                <br>
                <div class="form-row">
                  <div class="form-group col-md-3 ml-auto">
                    <label for="inputdni">DNI</label>
                    <input [(ngModel)]="user.dni"
                      name="dni"
                      required
                      type="text" class="form-control" id="inputdni">
                  </div>
                  <div class="form-group col-md-3 ml-auto">
                    <label for="inputCod">Codigo</label>
                    <input [(ngModel)]="user.codigo"
                      name="codigo"
                      required
                      type="text" class="form-control" id="inputCod">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputEdad">Edad</label>
                    <input [(ngModel)]="user.edad"
                      name="edad"
                      type="number"
                      required
                      class="form-control" id="inputEdad">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputSex">Sexo</label>
                    <select [(ngModel)]="user.sexo"
                      name="sexo"
                      id="inputSex" class="form-control">
                      <option selected>Opcion...</option>
                      <option value=true>F</option>
                      <option value=false>M</option>
                    </select>
                  </div>
                </div>
                <br>
                <div class="form-row">
                 <div class="form-group col-md-6">
                   <label for="inputEmail1">Correo Institucional</label>
                   <input [(ngModel)]="user.correoInstitucional"
                    name="correoInstitucional"
                    required
                    type="email" class="form-control" id="inputEmail1" placeholder="Email">
                 </div>
                 <div class="form-group col-md-6">
                   <label for="inputEmail2">Correo Personal</label>
                   <input [(ngModel)]="user.correoPersonal"
                    name="correoPersonal"
                    type="email" class="form-control" id="inputEmail2" placeholder="Email">
                 </div>
               </div>
               <br>
               <div class="form-row">
                 <div class="form-group col-md-2">
                   <label for="inputEid">Escuela id</label>
                   <input [(ngModel)]="user.escuelaId"
                   name="escuelaId"
                    type="text" class="form-control" id="inputEid">
                 </div>
                 <div class="form-group col-md-5">
                   <label for="inputTel">Telefono</label>
                   <input [(ngModel)]="user.telefonoCasa"
                    name="user.telefonoCasa"
                    type="text" class="form-control" id="inputTel">
                 </div>
                 <div class="form-group col-md-5 ml-auto">
                   <label for="inputCel">Celular</label>
                   <input [(ngModel)]="user.telefonoMovil"
                    name="telefonoMovil"
                    required
                    type="text" class="form-control" id="inputCel">
                 </div>
               </div>

                <div class="form-group">
                  <label for="address">Dirección</label>
                  <input [(ngModel)]="user.direccion"
                    name="direccion"
                    required
                    type="address" class="form-control" id="address" placeholder="Direccion...">
                </div>
                <div class="form-group" routerLinkActive ="active">
                  <button type="button" class="btn btn-danger"  [routerLink]="['/users']" >
                    Cancelar
                  </button>
                  <button [disabled]="!forma.valid"
                    type="submit" class="btn btn-success">
                    Guardar Cambios
                  </button>
                </div>
              </form>
              <br>
            </div>
        </div>
      </div>
    </div>
</body>
