<body class="profile-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/libs/bootstrap/img/city-profile.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="card" *ngFor="let l of libro">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h4 class="card-title">DATOS DEL LIBRO</h4>
                    </div>
                </div>
                <div class="container" *ngFor="let l of libro">
                    <div class="modal-body">
                        <fieldset>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Titulo</th>
                                        <td>{{l.titulo}}</td>
                                    </tr>
                                    <tr>
                                        <th>Titulo Secundario</th>
                                        <td>{{l.tituloSecundario}}</td>
                                    </tr>
                                    <tr>
                                        <th>Clasificación</th>
                                        <td>{{l.clasificacion}}</td>
                                    </tr>
                                    <tr>
                                        <th>Año</th>
                                        <td>{{l.anio}}</td>
                                    </tr>
                                    <tr>
                                        <th>Edición</th>
                                        <td>{{l.edicion}}</td>
                                    </tr>
                                    <tr>
                                        <th>Resumen</th>
                                        <td>{{l.resumen}}</td>
                                    </tr>
                                    <tr>
                                        <th>Capitulos</th>
                                        <td>{{l.capitulos}}</td>
                                    </tr>
                                    <tr>
                                        <th>ISBN</th>
                                        <td>{{l.isbn}}</td>
                                    </tr>
                                    <tr>
                                        <th>Extension</th>
                                        <td>{{l.extension}}</td>
                                    </tr>
                                    <tr>
                                        <th>Observaciones</th>
                                        <td>{{l.observaciones}}</td>
                                    </tr>
                                    <tr>
                                        <th>Dimensiones</th>
                                        <td>{{l.dimensiones}}</td>
                                    </tr>
                                    <tr>
                                        <th>Acompañamiento</th>
                                        <td>{{l.acompanamiento}}</td>
                                    </tr>
                                    <tr>
                                        <th>Palabras Claves</th>
                                        <td>{{l.palabrasClaves}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tomo</th>
                                        <td>{{l.tomo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                    <br>
                    <br>
                </div>

            </div>
        </div>
    </div>
</body>