<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a class="nav-link" rel="tooltip" title="Página de la fisi" data-placement="bottom" href="http://sistemas.unmsm.edu.pe/fisi/" target="_blank">
            F.I.S.I
          </a>
        </li>
        <li>
          <a class="nav-link" rel="tooltip" title="Página Biblioteca FISI" href="http://sistemas.unmsm.edu.pe/biblioteca/" target="_blank">
            Acerca
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right" id="copyright">
      &copy;
      <script>
         document.write(new Date().getFullYear())
      </script>, Diseñado <i class="material-icons">favorite</i> por
      <a class="developers" href="https://www.facebook.com/oficialfisiunmsm/">Trick Reading</a>
    </div>
  </div>
</footer>
